{% templatetag openblock %} extends "maykin_2fa/login.html" {% templatetag closeblock %}
{% templatetag openblock %} load solo_tags i18n {% templatetag closeblock %}

{# Do not show any version information #}
{% templatetag openblock %} block footer {% templatetag closeblock %}
    <div id="footer"></div>
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block extra_login_options {% templatetag closeblock %}
    {% templatetag openblock %} get_solo 'mozilla_django_oidc_db.OpenIDConnectConfig' as oidc_config {% templatetag closeblock %}
    {% templatetag openblock %} if oidc_config.enabled {% templatetag closeblock %}
        <div class="admin-login-divider"><span>{% templatetag openblock %} trans 'or' {% templatetag closeblock %}</span></div>
        <div class="admin-login-option admin-login-option--oidc">
            <a href="{% templatetag openblock %} url 'oidc_authentication_init' {% templatetag closeblock %}">
                {% templatetag openblock %} trans 'Login with organization account' {% templatetag closeblock %}
            </a>
        </div>
    {% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block extra_recovery_options {% templatetag closeblock %}
<li>
    {% templatetag openblock %} trans 'Contact support' {% templatetag closeblock %}
</li>
{% templatetag openblock %} endblock extra_recovery_options {% templatetag closeblock %}
