{% templatetag openblock %} load i18n {% templatetag closeblock %}
<div class="version" title="Git SHA: {% templatetag openvariable %} GIT_SHA|default:'' {% templatetag closevariable %}">
    <span class="version__release">
        {% templatetag openblock %} blocktrans {% templatetag closeblock %}version {% templatetag openvariable %} RELEASE {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
    </span>
    {% templatetag openblock %} if GIT_SHA {% templatetag closeblock %}
        <code class="version__git-hash">
            {% templatetag openblock %} blocktrans {% templatetag closeblock %}GIT SHA: {% templatetag openvariable %} GIT_SHA {% templatetag closevariable %}{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
        </code>
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
