{% templatetag openblock %} extends "admin/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n static utils {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}
{% templatetag openvariable %} title {% templatetag closevariable %} | {% templatetag openvariable %} site_title|default:_('Administration') {% templatetag closevariable %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extrastyle {% templatetag closeblock %}
    {% templatetag openvariable %} block.super {% templatetag closevariable %}

    <link rel="stylesheet" type="text/css" href="{% templatetag openblock %} static 'bundles/admin_overrides.css' {% templatetag closeblock %}">

    <link href="{% templatetag openblock %} static 'ico/favicon.svg' {% templatetag closeblock %}" sizes="any" rel="icon" type="image/svg+xml" />
    <link href="{% templatetag openblock %} static 'ico/favicon-96x96.png' {% templatetag closeblock %}" sizes="96x96" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon-32x32.png' {% templatetag closeblock %}" sizes="32x32" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" sizes="16x16" rel="icon" type="image/png" />
    <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" rel="shortcut icon">
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block branding {% templatetag closeblock %}
    <h1 id="site-name">
        <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">
            {% templatetag openvariable %} site_header|default:_('Administration') {% templatetag closevariable %}
        </a>
    </h1>
    {% templatetag openblock %} show_environment_info {% templatetag closeblock %}
    {% templatetag openblock %} if user.is_anonymous {% templatetag closeblock %}
      {% templatetag openblock %} include "admin/color_theme_toggle.html" {% templatetag closeblock %}
    {% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block userlinks {% templatetag closeblock %}
    {% templatetag openblock %} if site_url {% templatetag closeblock %}
    <a href="{% templatetag openvariable %} site_url {% templatetag closevariable %}">
      {% templatetag openblock %} if settings.SITE_TITLE {% templatetag closeblock %}
        {% templatetag openvariable %} settings.SITE_TITLE {% templatetag closevariable %}
      {% templatetag openblock %} else {% templatetag closeblock %}
        {% templatetag openblock %} trans 'View site' {% templatetag closeblock %}
      {% templatetag openblock %} endif {% templatetag closeblock %}
    </a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} url 'maykin_2fa:account_security' as 2fa_account_security_url {% templatetag closeblock %}
    {% templatetag openblock %} if 2fa_account_security_url {% templatetag closeblock %}
        <a href="{% templatetag openvariable %} 2fa_account_security_url {% templatetag closevariable %}">{% templatetag openblock %} trans "Account security" {% templatetag closeblock %}</a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}
    {% templatetag openblock %} if user.has_usable_password {% templatetag closeblock %}
    <a href="{% templatetag openblock %} url 'admin:password_change' {% templatetag closeblock %}">{% templatetag openblock %} trans 'Change password' {% templatetag closeblock %}</a> /
    {% templatetag openblock %} endif {% templatetag closeblock %}

    <form id="logout-form" method="post" action="{% templatetag openblock %} url 'admin:logout' {% templatetag closeblock %}">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        <button type="submit">{% templatetag openblock %} trans 'Log out' {% templatetag closeblock %}</button>
    </form>

    {% templatetag openblock %} include "admin/color_theme_toggle.html" {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block nav-global {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag opencomment %} Override footer block to display version information if you're a logged in staff user {% templatetag closecomment %}
{% templatetag openblock %} block footer {% templatetag closeblock %}
    <div id="footer">
        {% templatetag openblock %} if user.is_authenticated and user.is_staff {% templatetag closeblock %}
            {% templatetag openblock %} show_version_info {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}
