{% templatetag openblock %} extends "master.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

  <div class="title">
    <h1 class="title__header">{% templatetag openvariable %} settings.PROJECT_NAME {% templatetag closevariable %} API</h1>
    <p class="title__description">{% templatetag openvariable %} settings.SITE_TITLE {% templatetag closevariable %}</p>
  </div>

  <div class="container container--center">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item" data-id="nl">Nederlands</li>
        <li class="nav__item" data-id="en">English</li>
      </ul>

      <div class="nav__content">
        <div class="nav__pane" id="nl">
          WIP TEKST
        </div>
        <div class="nav__pane" id="en">
          WIP TEXT
        </div>
      </div>
    </nav>

    <p>
      <b>Licensed under the <a class="link" href="https://github.com/maykinmedia/{{ project_name|lower }}/blob/master/LICENSE.md">
        European Union Public License (EUPL) 1.2</a></b>
    </p>

    <p>
      <a href="{% templatetag openblock %} url "schema" version=version {% templatetag closeblock %}" class="button"><i class="fas fa-file-alt"></i> Open API specification</a>
      <a href="{% templatetag openblock %} url "api-root" version=version {% templatetag closeblock %}" class="button"><i class="fas fa-wifi"></i> API root</a>
    </p>

    <p>
      <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}" class="button button--alert"><i class="fas fa-lock"></i> Administration</a>
    </p>

  </div>

{% templatetag openblock %} endblock {% templatetag closeblock %}
