{% templatetag openblock %} load static {% templatetag closeblock %}<!DOCTYPE html>
<html lang="en" class="view {% templatetag openblock %} block view_class {% templatetag closeblock %}view--{% templatetag openvariable %} request.resolver_match.namespaces|join:'-' {% templatetag closevariable %}-{% templatetag openvariable %} request.resolver_match.url_name {% templatetag closevariable %}{% templatetag openblock %} endblock {% templatetag closeblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name|title }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% templatetag openblock %} static 'ico/favicon.svg' {% templatetag closeblock %}" sizes="any" rel="icon" type="image/svg+xml" />
        <link href="{% templatetag openblock %} static 'ico/favicon-96x96.png' {% templatetag closeblock %}" sizes="96x96" rel="icon" type="image/png" />
        <link href="{% templatetag openblock %} static 'ico/favicon-32x32.png' {% templatetag closeblock %}" sizes="32x32" rel="icon" type="image/png" />
        <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" sizes="16x16" rel="icon" type="image/png" />
        <link href="{% templatetag openblock %} static 'ico/favicon.png' {% templatetag closeblock %}" rel="shortcut icon">
        <link href="{% templatetag openblock %} static 'bundles/{{ project_name|lower }}-css.css' {% templatetag closeblock %}" media="all" rel="stylesheet" />
        {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
    </head>

    <body class="view__body">
        <main>
            {% templatetag openblock %} block content {% templatetag closeblock %}
                Override <code>{% templatetag openblock %} verbatim {% templatetag closeblock %}{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endverbatim {% templatetag closeblock %}</code>
                to get some actual content.
            {% templatetag openblock %} endblock {% templatetag closeblock %}
        </main>

        <footer class="footer container">
            <div class="footer__row">
              <div class="footer__col footer__col--small">
                <img src="{% templatetag openblock %} static 'ico/favicon-96x96.png' {% templatetag closeblock %}" alt="Maykin logo" height="48">
                <p>
                  Developed by <a class="link" href="https://www.maykinmedia.nl">Maykin</a><br>
                  within the <a class="link" href="https://opengem.nl">Open Gemeente Initiatief</a> &copy; {% now "Y" %}<br>
                  {# commissioned by the <a class="link" href="org">org</a> #}
                </p>
              </div>
              <div class="footer__col">
                <h5 class="footer__header">{{ project_name }}</h5>
                <ul class="footer__list">
                  <li><a class="link link--muted" href="https://hub.docker.com/r/maykinmedia/{{ project_name|lower }}">Docker images</a></li>
                  <li><a class="link link--muted" href="https://github.com/maykinmedia/{{ project_name|lower }}">Code on Github</a></li>
                </ul>
              </div>
              <div class="footer__col">
                <h5 class="footer__header">Other</h5>
                <ul class="footer__list">
                  <li>Report <a class="link link--muted" href="https://github.com/maykinmedia/{{ project_name|lower }}/issues">issues</a> for questions, bugs or wishes</li>
                  <li>Read more on <a class="link link--muted" href="https://commonground.nl/">Common Ground</a></li>
                </ul>
              </div>
            </div>

            <div class="footer__row">
              <div class="footer__col">
                <code>{% templatetag openvariable %} settings.RELEASE {% templatetag closevariable %}</code>
              </div>
              <div class="footer__col footer__col--right">
                <code>{% templatetag openvariable %} settings.GIT_SHA|default:"" {% templatetag closevariable %}</code>
              </div>
            </div>
          </footer>
        
        {% templatetag openblock %} if dsn {% templatetag closeblock %}
            <script src="https://browser.sentry-cdn.com/5.10.1/bundle.min.js" integrity="sha384-sAOze6ZTBIpiWBF3VlUteSInM4rYpjxrejp1wMmmKqA9clRZ1vZJ36Ihmt1ilTrG" crossorigin="anonymous"></script>
            <script>Sentry.init({ dsn: '{% templatetag openvariable %} dsn {% templatetag closevariable %}'});</script>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <script src="{% templatetag openblock %} static 'bundles/{{ project_name|lower }}-js.js' {% templatetag closeblock %}"></script>

    </body>
</html>
